@import 'tailwindcss';
@import '@fontsource/quicksand';
@import '@fontsource/courgette';
@theme {
  --background: #ffffff;
  --foreground: #171717;
  --black: #121212;
  --gray: #636363;
  --gray-100: #f5f5f5;
  --white: #ffffff;
  --purple-100: #dec8fe;
  --purple-200: #9b84ee;
  --purple-300: #704fe6;
  --yellow-100: #ffd25d;
  --yellow-200: #ffbe17;
  --yellow-300: #ffb802;

  /* Font variables */
  --font-quicksand: 'Quicksand', sans-serif;
  --font-courgette: 'Courgette', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-white: var(--white);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a0b24;
    --foreground: #ededed;
  }
}

body {
  @apply bg-background font-quicksand text-foreground;
}

/* headings */
.h1 {
  @apply font-quicksand text-[36px]    /* base */
         sm:text-[72px]            /* sm */
         lg:text-[112px] lg:leading-[100%]; /* lg */
}

.h2 {
  @apply font-courgette text-[36px]  /* base */
         sm:text-[64px]           /* sm */
         lg:text-[112px] lg:leading-[100%]; /* lg */
}

.h3 {
  @apply font-courgette text-[28px]  /* base */
         sm:text-[48px]           /* sm */
         lg:text-[72px] lg:leading-[110%]; /* lg */
}

.h4 {
  @apply font-quicksand text-[24px]  /* base */
         sm:text-[40px]          /* sm */
         lg:text-[64px] lg:leading-[110%]; /* lg */
}

.h5 {
  @apply font-quicksand text-[22px]  /* base */
         sm:text-[36px]           /* sm */
         lg:text-[56px] lg:leading-[120%]; /* lg */
}

.h6 {
  @apply font-courgette text-[22px]  /* base */
         sm:text-[36px]           /* sm */
         lg:text-[56px] lg:leading-[120%]; /* lg */
}

.h7 {
  @apply font-quicksand text-[20px]  /* base */
         sm:text-[32px]           /* sm */
         lg:text-[48px] lg:leading-[120%]; /* lg */
}

.h8 {
  @apply font-courgette text-[20px]  /* base */
         sm:text-[32px]           /* sm */
         lg:text-[48px] lg:leading-[120%]; /* lg */
}

/* body */
.body1 {
  @apply font-quicksand text-[16px]   /* base */
         sm:text-[20px]            /* sm */
         lg:text-[24px] lg:leading-[140%]; /* lg */
}

.body2 {
  @apply font-quicksand text-[16px]  font-semibold /* base */
         sm:text-[20px]               /* sm */
         lg:text-[24px] lg:leading-[120%]; /* lg */
}

.body3 {
  @apply font-quicksand text-[14px]   /* base */
         sm:text-[16px]            /* sm */
         lg:text-[20px] lg:leading-[160%]; /* lg */
}

.body4 {
  @apply font-quicksand text-[14px]   /* base */
         sm:text-[16px]          /* sm */
         lg:text-[18px] lg:leading-[180%]; /* lg */
}

.body5 {
  @apply font-quicksand text-[12px]   /* base */
         sm:text-[14px]            /* sm */
         lg:text-[16px] lg:leading-[160%]; /* lg */
}

.body6 {
  @apply font-quicksand text-[12px]   /* base */
         sm:text-[13px]            /* sm */
         lg:text-[14px] lg:leading-[24px]; /* lg */
}

.btn {
  @apply flex justify-center items-center gap-4 font-semibold text-background dark:text-foreground rounded-[40px] bg-purple-300 h-18 hover:bg-purple-300/80 transition-all duration-1000 cursor-pointer;
}

.btn-secondry {
  @apply flex justify-center items-center gap-4 font-semibold text-background dark:text-foreground rounded-[40px] bg-yellow-300 h-18 hover:bg-yellow-300/80 transition-all duration-1000 cursor-pointer;
}

.btn-outline {
  @apply flex justify-center items-center gap-4 font-semibold rounded-[40px] border border-purple-300 text-purple-300 pl-6 pr-3 h-[56px] hover:bg-purple-300/80 hover:text-background dark:hover:text-foreground transition-all duration-1000 cursor-pointer;
}
/* .btn-ghost {
  @apply;
} */
