/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@400;500;600;700&display=swap");

@import "tailwindcss";

@theme {
  --background: #ffffff;
  --foreground: #171717;
  --black: #121212;
  --gray: #636363;
  --white: #ffffff;
  --purple-100: #dec8fe;
  --purple-200: #9b84ee;
  --purple-300: #704fe6;
  --yellow-100: #ffd25d;
  --yellow-200: #ffbe17;
  --yellow-300: #ffb802;

  /* Font variables */
  --font-quicksand: "Quicksand", sans-serif;
  --font-courgette: "Courgette", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-white: var(--white);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand);
}

/* headings */
.h1 {
  @apply font-quicksand text-[40px] leading-[48px]    
         sm:text-[72px] sm:leading-[80px] 
         lg:text-[112px] lg:leading-[100px];
}

.h2 {
  @apply font-courgette text-[36px] leading-[44px]
         sm:text-[64px] sm:leading-[72px]
         lg:text-[112px] lg:leading-[100px];
}

.h3 {
  @apply font-courgette text-[28px] leading-[36px]
         sm:text-[48px] sm:leading-[60px]
         lg:text-[72px] lg:leading-[120px];
}

.h4 {
  @apply font-quicksand text-[24px] leading-[32px]
         sm:text-[40px] sm:leading-[56px]
         lg:text-[64px] lg:leading-[120px];
}

.h5 {
  @apply font-quicksand text-[22px] leading-[28px]
         sm:text-[36px] sm:leading-[48px]
         lg:text-[56px] lg:leading-[120px];
}

.h6 {
  @apply font-courgette text-[22px] leading-[28px]
         sm:text-[36px] sm:leading-[48px]
         lg:text-[56px] lg:leading-[120px];
}

.h7 {
  @apply font-quicksand text-[20px] leading-[28px]
         sm:text-[32px] sm:leading-[44px]
         lg:text-[48px] lg:leading-[120px];
}

.h8 {
  @apply font-courgette text-[20px] leading-[28px]
         sm:text-[32px] sm:leading-[44px]
         lg:text-[48px] lg:leading-[120px];
}

/* body */
.body1 {
  @apply font-quicksand text-[16px] leading-[24px]     
         sm:text-[20px] sm:leading-[28px]
         lg:text-[24px] lg:leading-[32px];
}

.body2 {
  @apply font-quicksand text-[16px] leading-[24px] font-semibold
         sm:text-[20px] sm:leading-[28px] sm:font-semibold
         lg:text-[24px] lg:leading-[32px] lg:font-semibold;
}

.body3 {
  @apply font-quicksand text-[14px] leading-[20px]
         sm:text-[16px] sm:leading-[24px]
         lg:text-[18px] lg:leading-[28px];
}

.body4 {
  @apply font-quicksand text-[14px] leading-[20px]
         sm:text-[16px] sm:leading-[24px]
         lg:text-[18px] lg:leading-[28px];
}

.body5 {
  @apply font-quicksand text-[12px] leading-[16px]
         sm:text-[14px] sm:leading-[20px]
         lg:text-[16px] lg:leading-[24px];
}

.body6 {
  @apply font-quicksand text-[12px] leading-[14px]
         sm:text-[13px] sm:leading-[16px]
         lg:text-[14px] lg:leading-[20px];
}
