@import 'tailwindcss';

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300..700&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #121212;
  --gray: #636363;
  --white: #ffffff;
  --purple-100: #dec8fe;
  --purple-200: #9b84ee;
  --purple-300: #704fe6;
  --yellow-100: #ffd25d;
  --yellow-200: #ffbe17;
  --yellow-300: #ffb802;

  /* Font variables */
  --font-quicksand: 'Quicksand', sans-serif;
  --font-courgette: 'Courgette', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-quicksand: var(--font-quicksand);
  --font-courgette: var(--font-courgette);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-white: var(--white);
  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-yellow-100: var(--yellow-100);
  --color-yellow-200: var(--yellow-200);
  --color-yellow-300: var(--yellow-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand);
}

/* headings */
.h1 {
  @apply font-quicksand text-[112px] leading-[100px];
}
.h2 {
  @apply font-courgette text-[112px] leading-[100px];
}
.h3 {
  @apply font-courgette text-[72px] leading-[120px];
}
.h4 {
  @apply font-quicksand text-[64px] leading-[120px];
}
.h5 {
  @apply font-quicksand text-[56px] leading-[120px];
}
.h6 {
  @apply font-courgette text-[56px] leading-[120px];
}
.h7 {
  @apply font-quicksand text-[48px] leading-[120px];
}
.h8 {
  @apply font-courgette text-[48px] leading-[120px];
}

/* body */
.body1 {
  @apply font-quicksand text-[24px] leading-[140%];
}
.body2 {
  @apply font-quicksand text-[24px] leading-[140%] font-semibold;
}
.body3 {
  @apply font-quicksand text-[18px] leading-[180%];
}
.body4 {
  @apply font-quicksand text-[18px] leading-[180%];
}
.body5 {
  @apply font-quicksand text-[16px] leading-[100%];
}
.body6 {
  @apply font-quicksand text-[14px] leading-[14px];
}
